<p id="notice"><%= notice %></p>

<ul class="nav nav-pills nav-justified">
  <%= image_tag "imagenevents.jpg" %>
</ul>

<div class="row">
  <div class="col-md-3">
    <img src=" " alt="..." style="width:300
    px;">
      
  </div>
  <div class="col-md-5">
        <p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Place:</strong>
  <%= @event.place_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @event.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Conditions:</strong>
  <%= @event.conditions %>
</p>
  </div>

  <div class="col-md-4">
    <iframe width="260" height="315" src="https://www.youtube.com/embed/sxMokMOhiSo" frameborder="0" allowfullscreen></iframe>    
  </div>

</div>