<p id="notice"><%= notice %></p>
<head>
<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ1Sr3KCD_8QA5-p8VhmzYlyaGfkXzfRnxobeQsVM-PpcDeSf6y">
</head>
<p>
  <strong>Place:</strong>
  <%= @tour.place_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tour.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @tour.phone %>
</p>

<p>
  <strong>People:</strong>
  <%= @tour.people %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tour.date %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
