<p id="notice"><%= notice %></p>

<h1>Welcome</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>City</th>
      <th>Location</th>
      <th>Level</th>
      <th>Distance</th>
      <th>Directions</th>
      <th>Parking</th>
      <th>Summit</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.title %></td>
        <td><%= place.city_id %></td>
        <td><%= place.location %></td>
        <td><%= place.level %></td>
        <td><%= place.distance %></td>
        <td><%= place.directions %></td>
        <td><%= place.parking %></td>
        <td><%= place.summit %></td>
        <td><%= place.description %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
